*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 55%;
    margin: auto;
    border: solid black;
}

header, section, main, footer{
    margin: 30px;
}

h1, h2 {
    font-family: "Afacad Flux", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

h1{ 
    font-size: 3em;
    text-align: center;
}

h2{
    font-size: 1em;
}

header ul{
    display: flex;
    height: 80px;
    width: 150px;
    align-items: center;
    padding: 0;
}

header ul li{
    flex-grow: 1;
    list-style: none;
}

header ul li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header ul li p{
    text-align: center;
}

section{
    text-align: center;
    padding: 20px 0;
    border-top: solid rgb(175, 174, 174);
    border-bottom: solid rgb(175, 174, 174);
}

main{
    display: flex;
}

main article{
    flex-grow: 1;
    width: 25%;
    padding: 10px 30px 20px 0;
}

main article p{
    font-size: 0.8em;
}

footer{
    text-align: center;
    font-size: 0.7em;
}

